@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Typography 

-------------------------------- */

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Source Code Pro', monospace;

/* Colors
-------------------------*/

$color-1: #FFFFFF; //  white
$color-2: #272727; // dark
$color-3: #d6c9c9; // tan
$color-4: #c7d3dd; // gray
$color-5: #77b6ea; // light-blue
$color-6: #e8eef2; // light-gray
// additional colors

$success: yellow; // yellow
$alert: red; // red


//body 

#css-zen-garden{
	z-index: 0;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
	position:absolute;
	margin: 0 auto;
}
.page-wrapper {
	height: 100%;
	z-index: 1;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: twinkle 200s linear infinite;
	display: inline-flex;
	flex-flow: column;
	text-align: center;
	h1,h2,h3, h4,h5, h6 {
		font-family: $secondary-font;
	}
	p{
		font-family: $primary-font;
	}
}
@keyframes twinkle {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
// first setion

header {
	width: 80%;
	height: auto;
	color: $color-6;
	margin:0 auto;
	padding: 5%;
	box-shadow: 5px 5px 20px $color-4;
	h1{ font-size: 3.5em; 
	}
	h2{ font-size: 1.5em;}
}


.intro {

	width: 80%;
	margin: 0 auto;
	display: inline-flex;
    flex-flow: column;
	.summary{
	background-color: $color-3;
	background-image: linear-gradient($color-3,$color-6);
	padding: 20px;
	margin: 6%;
	text-align: center;
	display: none;
	margin-top: 40px;
	a {
		color: $color-5;
		text-decoration: none;
		&:active{
			color: $color-6;}
		&:hover{
			color: $color-3;}}
}
	
.preamble {
  width: 300px;
  height: 300px;
	margin: 30px  auto;
  background-image:linear-gradient($color-4,$color-5,$color-4,$color-6);
	overflow: hidden;
  border-radius:50%;
	padding: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
  
 
	box-shadow: 5px 5px 20px $color-4;
	
	h3{width: 280px;
		position: relative;
	word-wrap: break-word;
		text-transform: uppercase;
		color: black;
		font-weight: bold;
		font-size: 1.5em;
		animation: up 20s linear infinite;
	}
	p{
		position: relative;
		word-wrap: break-word;
		
		animation: up 20s linear infinite;
	}}}
@keyframes up {
    0% {
    top: 10px;
    transform: rotateX(0deg)  translateZ(0px);
  }

  25%{ 
    transform: rotateX(25deg) translateZ(75px);
  }
	50%{ 
    transform: rotateX(30deg) translateZ(15s0px);
  }
	75%{ 
		transform: rotateX(40deg) translateZ(220px);
  }
	
    100% { 
    transform: rotateX(40deg) translateZ(220px);
  }
  }

.supporting {
	padding: 4%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 70%;
	margin: 0 auto;
	overflow: scroll;
		box-shadow: 5px 5px 20px $color-4;
	h3{
		width: 270px;
		text-transform: uppercase;
		position: relative;
	word-wrap: break-word;
		color: $success;
	}
	p{
		position: relative;
		word-wrap: break-word;
		color: $color-1;
	}
	a {
		color: $color-5;
	  list-style-type: none;
		text-decoration: none;
		   &:active {
			color: $success;}
		   &:hover{
      color: $color-6;}}
}
.sidebar {
	color: $color-1;
	margin-left: 150px;
	margin-top: 40px;

	ul li {
		list-style-type: none;
	
  a {
		color: $color-1;
	  list-style-type: none;
		text-decoration: none;
		   &:active {
			color: $color-5;}
		   &:hover{
      color: $color-5;}}
  
	}}
.design-selection, .design-archives, .zen-resources{
  position: relative;
  top: -25px;
	width: 150px;
  background-image: linear-gradient(0deg, black 60%);
  z-index: 1;
  overflow: hiden;
  
}
.select, .archives, .resources, .main-supporting {
padding: 20px;
  text-transform: uppercase;
	color:$color-1;}
  
.design-selection{
  ul{ 
  color:$color-1;
  overflow: hiden;}
}

.nav {
  display: flex;
  justify-content: center;
  min-heigth:200px;
  color: $color-1;
  font-family: $secondary-font;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
  
}


ul {
	padding : 20px;
 text-decoration: none;
list-style-type: none;
   a {
		color: $color-1;
		text-decoration: none;
		   &:active {
			color: $color-5;}
		   &:hover{
      color: $color-5;
	   }}}
	
	




@media screen and (min-width: 601px) {
	
		.page-wrapper{
		display: grid;
    grid-template-columns: 1fr 2fr 1fr;
	}
	.intro{
		display: flex;
		.summary{
				display: flex;
			flex-flow: column;
		}
	}


	.intro{grid-column: 2/span 1;}
	.supporting{
		    grid-column: 3/span1;
		border: none;
		animation: crawl 60s linear infinite;
	}
	
@keyframes crawl {
    0% {
    top: 10px;
    transform: rotateX(0deg)  translateZ(10px);
  }
  25%{ 
    transform: rotateX(25deg) translateZ(550px);
  }
	50%{ 
    transform: rotateX(30deg) translateZ(1100px);
  }
	75%{ 
    transform: rotateX(35deg) translateZ(1650px);
  }
    100% { 
    transform: rotateX(40deg) translateZ(3000px);
  }
  }
	.sidebar{
	
		    grid-row: 1/span1;
	}}
	
