@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Typography 

-------------------------------- */

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Source Code Pro', monospace;

/* Colors
-------------------------*/

$color-1: #FFFFFF; //  white
$color-2: #272727; // dark
$color-3: #d6c9c9; // tan
$color-4: #c7d3dd; // gray
$color-5: #77b6ea; // light-blue
$color-6: #e8eef2; // light-gray
// additional colors

$success: yellow; // yellow
$alert: red; // red
//planet size
$planet-width: 50vw;
$planet-height: 50vh;

//body 

#css-zen-garden{
	z-index: 0;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
	position:absolute;
	margin: 0 auto;
}
.page-wrapper {
	z-index: 1;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: twinkle 200s linear infinite;
	display: inline-flex;
	flex-flow: column;
	text-align: center;
	h1,h2,h3, h4,h5, h6 {
		font-family: $secondary-font;
	}
	p{
		font-family: $primary-font;
	}
}
@keyframes twinkle {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
// first setion

header {
	width: 80%;
	height: auto;
	color: $color-6;
	margin:0 auto;
	padding: 5%;
	box-shadow: 5px 5px 20px $color-4;
	h1{ font-size: 3.5em; 
	}
	h2{ font-size: 1.5em;}
}


.intro {
	height: 100vh;
	width: 80%;
	margin: 0 auto;
	display: inline-flex;
    flex-flow: column;
	.summary{
	background-color: $color-3;
	background-image: linear-gradient($color-3,$color-6);
	padding: 20px;
	margin: 6%;
	text-align: center;
	display: none;
	margin-top: 40px;
	a {
		color: $color-5;
		text-decoration: none;
		&:active{
			color: $color-6;}
		&:hover{
			color: $color-3;}}
}
	
.preamble {
  width: 300px;
  height: 300px;
	margin: 0px auto;
  background-image:linear-gradient($color-4,$color-2,$color-4,$color-5,$color-4,$color-2,$color-6);
	overflow: hidden;
  border-radius:50%;
	padding: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
	&:before{background-image:linear-gradient($color-4,$color-2,$color-4,$color-5,$color-4,$color-2,$color-6);
	animation: rotatePlanet 50s infinite linear;}
  box-shadow: 0 0 60px -20px ($color-1, 0.72);
  top:30%;
	
	h3{width: 270px;
		position: relative;
	word-wrap: break-word;
	}
	p{
		position: relative;
		word-wrap: break-word;
	}
}

}

@keyframes rotatePlanet{
  0%{
    transform:rotateZ(0);
  }
  100%{
    transform:rotateZ(-360deg);
  }
}

.supporting {
	color: blue;
	padding: 4%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
.sidebar {
	color: $color-1;

	ul li {
		list-style-type: none;
	
  a {
		color: $color-1;
	  list-style-type: none;
		text-decoration: none;
		   &:active {
			color: $color-5;}
		   &:hover{
      color: $color-5;}}
  
	}}
.design-selection, .design-archives, .zen-resources{
  position: relative;
  top: -25px;
  height: 300px;
  background-image: linear-gradient(0deg, transparent, black 60%);
  z-index: 1;
  box-shadow: $color-4 20%;
  overflow: hiden;
  
}
.select, .archives, .resources{
padding: 20px;
  bacground-color: black;
  text-transform: uppercase;
  color:$color-1;
  &:before{
    background-color: black;
    position : fixed;}
  }

.design-selection{
  ul{ animation: crawl 10s linear infinite;
  color:$color-1;
  overflow: hiden;}
}

.nav {
  display: flex;
  justify-content: center;
  min-heigth:200px;
  color: $color-1;
  font-family: $secondary-font;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
  
}


ul {
 text-decoration: none;
list-style-type: none;
   a {
		color: $color-1;
		text-decoration: none;
		   &:active {
			color: $color-5;}
		   &:hover{
      color: $color-5;
     }}

@keyframes crawl {
    0% {
    top: 10px;
    transform: rotateX(0deg)  translateZ(0);
  }
  
    100% { 
    top: 30px;
    transform: rotateX(25deg) translateZ(600px);
  }
  }}



@media screen and (min-width: 601px) {
	
		.page-wrapper{
		display: grid;
    grid-template-columns: 1fr 2fr 1fr;
	}
	.intro{
		display: flex;
		.summary{
				display: flex;
			flex-flow: column;
		}
	}
	//planet size
	
.preamble {
  width: $planet-width;
	height: $planet-height;}
	.intro{grid-column: 2/span 1;}
	.supporting{
		    grid-column: 3/span1;
		
	}
	.sidebar{
	
		    grid-row: 1/span1;
	}
	
}
@media screen and (min-width:1000px){
	
	
}